:root {
  --secondary-color: #7b4ad0;
  --main-font: "roboto", sans-serif;
  --secondary-font: "playfair dispaly", serif;
}

body {
  font-family: "roboto", sans-serif;
  background: black;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/bts-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 280px 0px;
}

h1 {
  font-family: var(--secondary-font);
  font-size: 96px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 7px;
  margin: 0;
}

h2 {
  font-size: 32px;
  margin: 0px;
  font-weight: normal;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background: var(--secondary-color);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 50px;
}

main {
  background: white;
}

main img {
  max-width: 100%;
}

main h2 {
  font-size: 48px;
  font-family: var(--secondary-font);
  line-height: 1.5;
}

main h3 {
  font-size: 14px;
  color: var(--secondary-color);
  display: inline;
  background: #f4effe;
  text-transform: uppercase;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bts-footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

footer h3 {
  font-family: var(--secondary-font);
  letter-spacing: 0;
  font-size: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0.9;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: var(--secondary-color);
  transition: all 0.15s ease-in;
}

footer p {
  font-size: 16px;
  opacity: 0.9;
}

.grid {
  display: grid;
  grid-gap: 60px;
}

.grid-2-equal {
  grid-template-columns: 1fr 1fr;
}

.grid-3-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

@media (max-width: 800px) {
  header {
    padding: 50px 0;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 12px;
  }

  header a {
    font-size: 12px;
    padding: 8px 20px;
    margin-top: 20px;
  }

  section {
    padding: 20px 0;
    margin: 20px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}
